# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Node
node_modules/

# Build output
dist/